<table border="2px" align="center" width="30%", style="background-color:violet "><td><%= form_with model: @contactadmin, local: true do |form| %>
 
  <% if @contactadmin.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@contactadmin.errors.count, "error") %> prohibited
        this contactadmin from being saved:
      </h2>
      <ul>
        <% @contactadmin.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
</td>
</table>
